html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  background-color: #E39A37 !important;
}

.jumbo {
  /* background-image: url('/src/images/Ohio-Hocking-Hills-state-park.jpeg'); */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.activity {
  font-size: 12px;
}

.carosel-max-height {
  max-height: 600px;
}

.custom-caption {
  padding: 10px;
  bottom: auto;
  top: 20px;
  background: rgba(00, 00, 00, 0.3);
}
